    * {
        margin: 0;
        padding: 0;
    }
    button.btn-success{
        width: 100%;
    }
    i.fa-trash{
       color: rgb(218, 9, 9);
       margin-left: 10px;
    }
    i.fa-pencil{
        color: rgb(53, 53, 183);
        margin-left: 10px;
     }
    form div.form-group input {
        margin: 20px 0;
    }
    
    form button {
        margin: 20px 0;
        width: 350px;
    }
    a.search{
        text-decoration: none;
    }
    ul li{
        list-style: none;
    }